
#advinst-text, #advinst-text-shadow
{
  position: absolute;
  right: 8pt;
  top: 8pt;
  font: bold 9pt 'Segoe UI', 'Trebuchet MS', Arial;
  color: #83cac4;
}

#advinst-text-shadow
{
  top: 9pt;
  color: white;
}

.buttonwrapper a {
   background-image: linear-gradient(#93EBDD, #029E98);
   border-color: #0BBC9E;
}
.buttonwrapper a:hover {
   background-image: linear-gradient(#9DFBED, #01B6B0);
   border-color: #06AD90;
}

.buttonwrapper a:active {
   background-image: linear-gradient(#3B9E92, #028983);
   border-color: #037763;
}

.buttonwrapper-disabled a, .buttonwrapper-disabled a:hover, .buttonwrapper-disabled a:active {
   background-image: linear-gradient(#F5F5F5, #CACACA);
   border-color: #F4F4F4;
}
