
#advinst-text, #advinst-text-shadow
{
  position: absolute;
  right: 8pt;
  top: 8pt;
  font: bold 9pt 'Segoe UI', 'Trebuchet MS', Arial;
  color: #e8b66d;
}

#advinst-text-shadow
{
  top: 9pt;
  color: white;
}

.buttonwrapper a {
   background-image: linear-gradient(#FED26E, #D05400);
   border-color: #B43300;
}
.buttonwrapper a:hover {
   background-image: linear-gradient(#FFDF97, #E86004);
   border-color: #F96E03;
}

.buttonwrapper a:active {
   background-image: linear-gradient(#F8AC2D, #D15500);
   border-color: #FC7203;
}

.buttonwrapper-disabled a, .buttonwrapper-disabled a:hover, .buttonwrapper-disabled a:active {
   background-image: linear-gradient(#F5F5F5, #CACACA);
   border-color: #F4F4F4;
}